.playfield {
    margin-top: 50px;
    border: 2px solid #000;
    position: relative;
    width: 600px;
    height: 600px;
}

.ball {
    position: absolute;
    left: 235px;
    top: 235px;
    width: 30px;
    height: 30px;
    background-color: #F00;
    border: 1px solid #000;
    border-radius: 15px;
}

.paddle {
    position: absolute;
    left: 200px;
    height: 25px;
    width: 100px;
    background-color: #888;
    border: 1px solid #000;
    border-radius: 10px;
    padding-top: 5px;
    text-align: center;
    color: #FFF;
}

#paddle1 {
    top: 20px;
}

#paddle2 {
    top: 450px;
}